/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)

### Accent

- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
- Light Red (error): hsl(0, 100%, 63%)

### Neutral

- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 14px

### Headings, Call-to-actions, Header Navigation

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 700


*/

//Colors

//Primary

$Dark-Blue-1 : hsl(217, 28%, 15%); // (intro and email sign up background)
$main-background : hsl(218, 28%, 13%); // (main background)
$footer-bg : hsl(216, 53%, 9%);  // (footer background)
$testimonials-bg: hsl(219, 30%, 18%); //(testimonials background)


//### Accent

$Cyan : hsl(176, 68%, 64%); //(inside call-to-action gradient)
$Blue: hsl(198, 60%, 50%); // (inside call-to-action gradient)
$Light-Red : hsl(0, 100%, 63%); //(error)
$white:#eee;

// fonts

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: $main-background;
    color: $white;
    text-align: center;
    overflow-x: hidden; // remove it later
    line-height: 1.7;
}
.flex{
    display: flex;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.navbar{
    color: $white;
    background-color: $Dark-Blue-1;
    padding: 1.2em 1.2em;
    .container{
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo{
        width: 100px;
    }
    ul{
        display: flex;
        width: 170px;
        justify-content: space-between;

        li{
            display: inline;
            &:hover{
                text-decoration: underline;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.button{
    background:linear-gradient(90deg,$Cyan -50%,$Blue 100%);
    color: $white;
    border: none;
    font-weight: bold;
    font-size: 16px;

    &:hover{
        cursor: pointer;
        background: $Cyan;
    }
}
.hero{
    background: url(../images/bg-curvy-mobile.svg);
    background-color: $Dark-Blue-1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 50px;
    margin-bottom: 150px;
    .button{
        padding: 1.2em 7em;
        border-radius: 3em;
    }
    .text{
        line-height: 1.5;
        font-size: 1.1rem;
    }
    .image{
        width: 100%;
    }
}

.features{
    display: grid;
    line-height: 1.7;
    gap: 5.5em;
    .feature{
        .title{
            font-size: 1.2rem;
        }
    }
}

.productive{
    display: grid;
    margin: 100px auto;
    text-align: left;
    .image{
        width: 100%;
    }
    .link{
        color:$Cyan;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 1px solid $Cyan;
        &:hover{
            color: $white;
            border-bottom: 1px solid $white;
            .icon{

                text-shadow: 0 0 4px white;
            }
        }
        .icon{
            font-size: 1.1em;
            margin-left: 5px;
            text-shadow: 0 0 4px cyan;
        }
    }
}

.testimonials{
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
    margin-top: 10em;
    background-size: 30px;
    background-position-x: 10px;
    padding-top: 25px;
    display: grid;
    text-align: left;
    gap: 2em;
    .card{
        padding: 1.7em;
        border-radius: 0.30em;
        background-color: $testimonials-bg;
        .profile{
            .profile-info{
                font-size: 0.8em;
                
            }
            line-height: 0.5;
            display: flex;
            gap: 1em;
            align-items: center;
            .image{
                border-radius: 100%;
                width: 35px;
            }
        }
    }
}
.early-access{
    display: grid;
    background-color: $Dark-Blue-1;
    margin-top: 12em;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1.5rem 2.5rem;
    padding-bottom: 3em;
    box-shadow: 0 0 15px -1px #11111155;
    form{
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        input,.button{
            padding: 15px;
            border-radius: 40px;
            border: none;
        }
        
    }
    margin-bottom: -160px;
    perspective: 1px;
}
footer{
    overflow: hidden;
background-color: $footer-bg;
text-align: left;
padding-top: 200px;
padding-bottom: 15px;
.logo{
    margin: 30px 10px;
}
.text{
    display: flex;
    gap: 25px;
    p{
        margin: 0;
    }
    .icon{
        padding-top: 5px;
        font-size: 1.3em;
    }
}
ul{
    list-style: none;
    padding: 0;
}
.contact{
    li{
        display: flex;
        gap: 25px;
        margin-bottom: 10px;
        align-items: center;
        
        .icon{
            font-size: 1.3em;
        }
    }

}
.links{
    columns: 2;
    display: flex;
    line-height: 2.5;
    flex-direction: column;
    margin: 40px 0 ;
}
.social{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 50px;
    margin-bottom: 30px;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        border: 1px solid $white;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        text-decoration: none;
        color: $white;
        &:hover{
            border: 1px solid $Cyan;
            color: $Cyan;
        }
    }


}
}